$primary-dark-color: #222222;
$viewport-height: 100vh;
$viewport-width: 100vw;

body {
  overflow: hidden;
}

.fullpage-overlay {
  width: $viewport-width;
  height: $viewport-height;
  position: absolute;
  z-index: -1;
  background-color: $primary-dark-color;
  top: 0;
  opacity: 0.6;
}

.view-width {
  width: $viewport-width;
}

.view-height {
  height: $viewport-height;
}

.no-pad {
  padding:0;
}

.dark-drawer {
  background-color: $primary-dark-color;
}
.white-text {
  color: #FFFFFF;
}

#user-basic-info {
  @extend .white-text;
  width: 100%;
  height: $viewport-height/1.3;
  overflow-y: hidden;
  position: relative;
  .fix-bottom {
    margin-top: 60px;
    bottom: 0;
    left: 0;
  }
  #user-options-list{
    margin-top: 20px;
  }
}
.close-drawer {
  position: absolute;
  z-index: 1500;
  background-color: #FFFFFF;
  border-radius: 50%;
}
.circular-loading {
  text-align: center;
}
.icon-image {
  width: 70%;
}
#edit-form-title {
  padding-top: 30px;
  text-align: center;
}
#edit-form {
  padding: 40px;
}
